@font-face {
    font-family: 'SKYBORI';
    src: url('../font/SKYBORI.ttf') format('opentype');
    
}

body{
    font-family: 'SKYBORI';
    margin: 0 0;
    padding: 0;
    background: url('') center/cover no-repeat fixed;
    
}
.top-image {
    background-image: url('../img/img05.jpg');
    height: 800px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    color: rgb(255, 255, 255);

}
.main-page .top .Top_bar{
    margin-top : 0;
}
.top-image::before {
    content: ""; /* 가상 요소의 내용은 비워둡니다 */
    position: absolute; /* 가상 요소를 절대 위치로 설정 */
    height: 800px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.1)); /* 검은색 반투명 그라데이션 적용 */
}
.top_bar{
    margin-top: 0px;
}

.top{
    z-index: 1;
    color:white;
    position: relative;
}

h2{
    font-size: 100px;
    margin-top: 15px;
    margin-bottom: 0px;
}

.pf_text{
    font-size: 70px;
}

.pf-overview, .ai-overview {
    text-align: center;
}

button {
    margin: 10px;
    padding: 10px;
    background-color: #dddddd;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #cccccc;
}

form {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: auto;
}

form input, form button {
    margin-bottom: 10px;
}