@font-face {
    font-family: 'SKYBORI';
    src: url('../../font/SKYBORI.ttf') format('opentype');
    
}

body{
    font-family: 'SKYBORI';
    margin: 0;
    padding: 0;
    background: url('../img/pf\ cat.jpg') center/cover no-repeat fixed;
    
}

body::before {
    content: "";
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.1)); /* 그라데이션 */
}

.paging {
    text-align: center; /* 가운데 정렬 */
    margin-bottom: 50px;
}

.paging a {
    display: inline-block;
    margin: 0 5px; 
    text-decoration: none;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 20px;
    padding: 10px 15px;

}

.paging a.on {
    font-weight: bold; /* 현재 페이지에 해당하는 링크 강조 */
}

.numon{
    background-color: white;
    color: black;
}

.num{
    color:white;
}

p{
    color: white;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 30px;
    margin-top: 150px;
}
.pet_folio{
    text-align: center;
}

.board_write{
    border-radius: 30px;
    color: #000000;
    background-color: #ffffff;
    font-size: 20px;
    padding: 10px 20px;
    text-decoration: none;
}

.WriteButton_container{
    width: 100px;
    margin-bottom: 15px;
    margin-left:62%
}


